@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply w-full;
}

#root {
  @apply h-screen flex justify-center items-center bg-slate-200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {

  input[type="email"],
  input[type="password"] {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md outline-none;
  }

  button,
  [type="submit"] {
    @apply p-2 bg-black text-white rounded-md cursor-pointer outline-none;
  }
}